.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 5rem;
  line-height: 4.25rem;
  color: rgba(77, 77, 77, 0.8);
}

.sub-header {
  font-size: 1.25rem;
  color: rgba(77, 77, 77, 0.5);
  margin: 2rem 0;
}
